* {
    margin: 0;
    padding: 0;
}
textarea {
    margin: 10px;
}
#ul1 {
    width: 300px;
    height: 300px;
    border: 1px solid #999;
    margin: 10px auto;
    position: relative;
}

#ul1 li {
    list-style: none;
    border-bottom: 1px dashed #999;
    padding: 3px;
    overflow: hidden;
    filter: (opacity: 0);
    opacity: 0;
}

