* {
    margin: 0;
    padding: 0;
    font: 12px/1.25 "tahoma,arial,宋体,sans-serif";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
#div1 {
    height: 100px;
    width: 100px;
    background: #f00;
}
