#div1 {
    width: 100px;
    height: 200px;
    background: #ccc;
    position: absolute;
    left: -100px;
}

#div1 span {
    width: 20px;
    height: 60px;
    line-height: 20px;
    text-align: center;
    left: 100px;
    top: 70px;
    background: #ff0;
    position: absolute;
}
