/********公用***********/
* {
    padding: 0;
    margin: 0;
}
body {
    background: #f6f9fc;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul,li {
    list-style: none;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.clear { zoom:1; }
.clear:after { content: '\20'; display: block; clear: both; }
/****************内容部分*********************/
#score {
    width: 135px;
    height: 27px;
    margin: 10px auto;
}

