* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
ul {
    width: 400px;
    height: 30px;
    position: relative;
    margin: 100px auto 0;
}
li {
    float: left;
    width: 98px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
}
.bg {
    width: 100px;
    height: 5px;
    overflow: hidden;
    background: #f00;
    border: none;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 1;
}


