/*+++++++++++++++++   hdHeader begin ++++++++++++++++++++++++*/
#hdHeader {
    width: 950px;
    height: 34px;
    margin: 0px auto 25px;
    position: relative;
}
#hdHeader .hdLogo {
    width: 154px;
    height: 30px;
    display: block;
    background: url(../img/hdlogo.png) no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}
#hdHeader .hdSearch {
    position: absolute;
    top: 1px;
    left: 183px;
    border: 1px solid #c3c3c3;
    width: 270px;
    height: 30px;
}
#hdHeader .hdSearch .inp {
    display: block;
    height: 30px;
    overflow: hidden;
}
#hdHeader .hdSearch .inp input {
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
}

#hdHeader .hdSearch .bn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/icon/bn_srh_1.png) 50% 50% no-repeat;
}
#hdHeader .bn input {
    font-size: 0px;
}
#hdHeader .hdNav {
    float: right;
    margin-top: 6px;
    width: 479px;
    height: 20px;
}
#hdHeader .hdNav li {
    display: inline-block;
    zoom: 1;
    margin: 0 0 0 17px;
}
#hdHeader .hdNav li a {
    display: block;
    zoom: 1;
    width: 40px;
    height: 20px;
    vertical-align: middle;
    /*margin-left: -5px;*/
    background: url(../img/header_nav_logo.png) no-repeat;
}
#hdHeader .hdNav li a.hdNavBook {
    background-position: 0 0;
}
#hdHeader .hdNav li a.hdNavMovie {
    background-position: -60px 0;
}
#hdHeader .hdNav li a.hdNavMusic {
    background-position: -120px 0;
}
#hdHeader .hdNav li a.hdNavGroup {
    background-position: -180px 0;
}
#hdHeader .hdNav li a.hdNavCity {
    background-position: -299px 0;
}
#hdHeader .hdNav li a.hdNavFM {
    background-position: -241px 0;
}
#hdHeader .hdNav li a.hdNavThings {
    background-position: -359px 0;
}
#hdHeader .hdNav li a.hdNavMarket {
    background-position: -421px 0;
    width: 42px;
}
/*+++++++++++++++++   hdReg begin ++++++++++++++++++++++++*/
#hdReg {
    background-color: #f1faf1;
    width: 100%;
    height: 178px;
    background: url(../img/douban_bg.png) top right no-repeat;
    margin-bottom: 25px;
    background-color: #f1faf1;
}
#hdReg .wrapper {
    position: relative;
    overflow: visible;
    padding: 28px 0 4px;
    zoom: 1;
}
#hdReg .wrapper .login, #hdReg .wrapper .app {
    z-index: 2;
}
#hdReg .wrapper .login {
    float: right;
    width: 270px;
    margin-bottom: 15px;
    position: relative;
    font-size: 0;
    height: 131px;
}
#hdReg .wrapper .login .item {
    position: relative;
    margin-bottom: 4px;
}
#hdReg .wrapper .login .itemAccount, #hdReg .wrapper .login .itemPassword {
    width: 252px;
    height: 30px;
    border: 1px solid #dbe5db;
    border-radius: 2px;
    line-height: 30px;
    background: #fff;
    padding: 0 8px;
    font-size: 13px;
}
#hdReg .wrapper .login input {
    color: #666;
}
#hdReg .wrapper .login .itemPassword input {
    width: 220px;
}
#hdReg .wrapper .login .itemPassword .opt {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
    line-height: 35px;
}
#hdReg .wrapper .login .itemPassword .opt a {
    color: #ccc;
}
#hdReg .wrapper .login .itemPassword .opt a:hover {
    color: #999;
    background-color: #fff;
}
#hdReg .wrapper .login .itemSubmit {
    margin-top: 6px;
}
#hdReg .wrapper .login .itemSubmit input {
    padding: 0 22px;
    margin-right: 0;
    height: 30px;
    /*margin-top: px;*/
    font-size: 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #30a080;
    color: #fff;
    width: 133px;
}
#hdReg .wrapper .login .itemSubmit input:hover {
    background: #2A8C70;
}
#hdReg .wrapper .login .itemSubmit a {
    display: inline-block;
    background: transparent;
    zoom: 1;
    padding: 8px 21px 7px;
    vertical-align: top;
    border-radius: 2px;
    border: 1px solid #30a080;
    font-size: 12px;
    color: #30a080;
    line-height: 1;
    width: 89px;
    text-align: center;
    margin-left: 4px;
}
#hdReg .wrapper .login .itemAction {
    font-size: 12px;
    margin-top: 8px;
    overflow: hidden;
    /*height: 13px;*/
    color: #666;
    /*vertical-align: text-top;*/
}
#hdReg .wrapper .login .itemAction #remember {
    vertical-align: -3px;
    margin-right: 3px;
    margin-top: 4px;
}
#hdReg .wrapper .login .itemActionThird {
    float: right;
    font-size: 0;
    margin-top: 3px;
    margin-right: 1px;
}
#hdReg .wrapper .login .itemActionThird li {
    display: inline-block;
}
#hdReg .wrapper .login .itemActionThird a {
    width: 14px;
    height: 12px;
    display: inline-block;
}
#hdReg .wrapper .login .itemActionThird li+li {
    margin-left: 8px;
}
#hdReg .wrapper .login .itemActionThird a.weibo {
    background: url(../img/icon/weibo.png) bottom no-repeat;
}
#hdReg .wrapper .login .itemActionThird a.weixin {
    background: url(../img/icon/wechat.png) bottom no-repeat;
}
#hdReg .wrapper .app {
    position: absolute;
    height: 120px;
    top: 0px;
    bottom: 0px;
    margin: auto 0 auto 430px;
}
#hdReg .wrapper:after {
    content: "\0020";
    display: block;
    clear: both;
}
#hdReg .wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: url(../img/doubanapp4.png) top left no-repeat;
}
#hdReg .wrapper .app .appTitle {
    margin: 7px 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
}
#hdReg .wrapper .app .appTitle span {
    margin-left: 11px;
    font-weight: 100;
    color: #111;
}
#hdReg .wrapper .app .appSlogan {
    margin: 0 0 18px;
    font-size: 0;
    color: #111;
    text-align: justify;
}
#hdReg .wrapper .app .appSlogan:after {
    content: "";
    display: inline-block;
    width: 100%;
}
#hdReg .wrapper .app .appSlogan span {
    font-size: 12px;
}
#hdReg .wrapper .app a.linkApp {
    display: inline-block;
    border: 1px solid #00b51d;
    width: 115px;
    height: 30px;
    line-height: 30px;
    background: #00b51d;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    margin-right: 2px;
}
#hdReg .wrapper .app .appQR {
    zoom:1;
    position: relative;
    float: right;
}
#hdReg .wrapper .app .appQR a {
    display: block;
    zoom: 1;
    height: 30px;
    border: 1px solid #48aa0d;
    border-radius: 2px;
}
#hdReg .wrapper .app .appQR a:hover {
    background-color: #fff;
}
#hdReg .wrapper .app .appQR .QRExpand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 5px;
    border: 1px solid #4a480d;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: #666;
    background: #fff;
    line-height: 13px;
    display: none;
}
#hdReg .wrapper .app .appQR .QRExpand p {
    margin: 13px 0;
}
/*++++++++++++++++++++++   content begin ++++++++++++++++++++++++++++++++*/

/*++++++++++++   contSns begin +++++++++++*/

#contSns .side .sidePic {
    margin: 10px 0;
}
#contSns .side .sidePic a:hover {
    background: #fff;
}

#contSns .side .onlineActive ul {
    margin-top: -4px;
}
#contSns .side .onlineActive ul li {
    margin-top: 10px;
    color: #999;
}
#contSns .side .onlineActive .title {
    margin-bottom: 4px;
    line-height: 1.45;
}
#contSns .side .onlineActive .desc {
    line-height: 19px;
}
#contSns .mainOne .mod {
    width: auto;
}
#contSns .mainOne .albums {
    float: left;
    width: 350px;
    font-size: 0;
    margin-right: 30px;
    color: #999;
}
#contSns .mainOne .albums ul {
    margin: -10px 0 0 -10px;
}
#contSns .mainOne .albums ul li {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    width: 170px;
    vertical-align: top;
    font-size: 12px;
    margin: 10px 0 0 10px;
}
#contSns .mainOne .albums .pic {
    display: inline-block;
    zoom: 1;
    width: 170px;
    max-height: 170px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}
#contSns .mainOne .notes .author {
    color: #999;
}
#contSns .mainOne .notes li {
    margin-top: 12px;
}
/*++++++++++++   contMovie begin +++++++++++*/

#contMovie {
    height: 566px;
}
#contMovie a:link, #contMovie a:visited {
    color: #27a;
}

#contMovie a:hover {
    color: #fff;
    background-color: #37a;
}
#contMovie .movieCharts ol {
    margin: 0;
    padding: 0;
}
#contMovie .movieCharts li {
    margin-bottom: 6px;
    padding-bottom: 5px;
    list-style-type: decimal;
    list-style-position: inside;
    border-bottom: 1px solid #eaeaea;
}
#contMovie .movieList .pic {
    height: 145px;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

#contMovie .movieList .title a:link, #contMovie .movieList .title a:visited {
    color: #333;
}
#contMovie .movieList .title a:hover {
    color: #fff;
}
#contMovie .movieList ul li {
    /*border: 1px solid #f34;*/
    width: 132.67px;
}

#contMovie .movieList .rating span {
    display: inline-block;
    zoom: 1;
    background: url(../img/icon/ic_rating_s.png) no-repeat;
    width: 55px;
    height: 11px;
    margin-right: 3px;
    overflow: hidden;
}
#contMovie .movieList .rating span.allstar30 {
    background-position: 0 -44px;
}
#contMovie .movieList .rating span.allstar25 {
    background-position: 0 -66px;
}
#contMovie .movieList .rating span.allstar20 {
    background-position: 0 -55px;
}
#contMovie .movieList .rating span.allstar15 {
    background-position: 0 -22px;
}
#contMovie .movieList .rating span.allstar10 {
    background-position: 0 -22px;
}
#contMovie .movieList .rating span.allstar50 {
    background-position: 0 -44px;
}
#contMovie .movieList .rating span.allstar35 {
    background-position: 0 -33px;
}
#contMovie .movieList .rating span.allstar40 {
    background-position: 0 -22px;
}

#contMovie .bn-link:link, #contMovie .bn-link:visited {
    background: #1c8bd0;
    color: #fff;
}
#contMovie .bn-link:hover {
    background: #047FCB;
    color: #fff;
}

/*++++++++++++   contGroup begin +++++++++++*/
#contGroup a:link, #contGroup a:visited {
    color: #007982;
}
#contGroup .cate .cateLabel a:link, #contGroup .cate .cateLabel a:visited {
    color: #333;
}
#contGroup a:hover {
    color: #fff;
}
#contGroup .cate .cateLabel a:hover {
    color: #fff;
}
#contGroup .groupList ul {
    margin-left: -30px;
    margin-top: -30px;
    padding-left: 150px;
}
#contGroup .groupList li {
    width: 248px;
    /*margin-left: 30px;*/
    margin-top: 30px;
    text-align: left;
    overflow: hidden;
    zoom: 1;
    color: #999;
}
#contGroup .groupList .pic {
    float: left;
    margin-right: 15px;
}
#contGroup .groupList .info {
    overflow: hidden;
    zoom: 1;
}
#contGroup .groupList .title {
    margin-bottom: 5px;
}
/*++++++++++++   contBook begin +++++++++++*/
#contBook a:link, #contBook a:visited {
    color: #614e3c;
}
#contBook a:hover {
    color: #fff;
}
#contBook .sideNav .appList .appIcon {
    background: url(../img/icon/app_icons_50_10.jpg) 0 0 no-repeat;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;
    display: block;
    width: 48px;
    height: 48px;
}
#contBook .bookCateMod .cateLabel {
    width: auto;
    font-size: 12px;
    color: #999;
}

#contBook .bookCateMod .cate {
    padding-top: 10px;
    margin: -1px 0 10px 0;
    border-top: 1px solid #eaeaea;
}
#contBook .bn-link:link, #contBook .bn-link:visited {
    color: #fff;
}
#contBook .bookList .pic {
    height: 148px;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
#contBook .bookList ul li {
    width: 132.67px;
}
#contBook .bookList ul {
    margin-top: -30px;
    margin-left: -30px;
    padding-left: 150px;
}
#contBook .main h2 {
    padding-left: 120px;
}
/*++++++++++++   contMusic begin +++++++++++*/
#contMusic a:link, #contMusic a:visited {
    color: #555d53;
}
#contMusic a:hover {
    color: #fff;
}
#contMusic .sideNav .sideTitle a:link, #contMusic .sideNav .sideTitle a:visited {
    color: #f38c4f;
}
#contMusic .sideNav .sideTitle a:hover {
    color: #fff;
}
#contMusic .sideNav .appList span {
    background: url(../img/icon/app_icons_50_10.jpg) no-repeat;
    border-radius: 5px;
    box-shadow: 2px 2px #ccc;
    display: block;
    width: 48px;
    height: 48px;
}
#contMusic .sideNav .appList span.appIcon05 {
    background-position: -250px 0;
}
#contMusic .sideNav .appList span.appIcon10 {
    background-position: -50px 0;
}
#contMusic .artistCharts .num, #contMusic .artistCharts .pic {
    float: left;
    max-height: 61px;
    overflow: hidden;
    margin-right: 10px;
}
#contMusic .artistCharts .desc {
    margin-top: 4px;
    color: #999;
}
#contMusic .albumList {
    margin-bottom: 20px;
}
#contMusic .albumList .pic {
    height: 80px;
    overflow: hidden;
}
#contMusic .albumList .title {
    font-size: 12px;
    color: #666;
}
#contMusic .albumList .rating span {
    display: inline-block;
    zoom: 1;
    background: url(../img/icon/ic_rating_s.png) no-repeat;
    width: 55px;
    height: 11px;
    margin-right: 3px;
    overflow: hidden;
}
#contMusic .albumList .rating span.allstar30 {
    background-position: 0 -11px;
}
#contMusic .albumList .rating span.allstar25 {
    background-position: 0 -22px;
}
#contMusic .albumList .rating span.allstar20 {
    background-position: 0 -33px;
}
#contMusic .albumList ul li {
    width: 132.67px;
}
#contMusic .albumList .pic {
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
#contMusic .albumList .cover {
    position: relative;
}
#contMusic .albumList .cover i {
    position: absolute;
    background: url(../img/music/timeline-player-cover.png) no-repeat;
    width: 80px;
    height: 80px;
    left: 26px;
    opacity: 0.8;
}
/*++++++++++++   contYipai begin +++++++++++*/
#contYipai a:link , #contYipai a:visited {
    color: #837960;
}
#contYipai a:hover {
    color: #fff;
}
#contYipai .sideNav .sideTitle a {
    color: #f66;
}
#contYipai .sideNav .sideTitle a:hover {
    color:#fff;
}
#contYipai .side .cate .yipaiStyle {
    color: #999;
    font-size: 14px;
}
#contYipai .side .yipaiFirst {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#contYipai .side .cate li {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    width: 4em;
    margin-top: 5px;
}
#contYipai .main .mod {
    padding-left: 120px;
}
/*#contYipai .yipaiList ul {
    margin-left: -20px;
}*/
#contYipai .yipaiList ul li {
    margin-bottom: 2%;
    margin-right: 5px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 262px;
    height: 237px;
}
#contYipai .yipaiList .yipaiListItem {
    display: block;
}
#contYipai .yipaiList .yipaiListItemPic {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 80%;
    overflow: hidden;
}
#contYipai .yipaiList li a:hover {
    background-color: #fff;
    color: #9D9379;
}
#contYipai .yipaiList .yipaiListItemPic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#contYipai .yipaiList .yipaiListItemText {
    position: relative;
    font-size: 14px;
    text-align: left;
}
/*++++++++++++   contCity begin +++++++++++*/
#contCity a:link, #contCity a:visited {
    color: #643;
}
#contCity a:hover {
    color: #fff;
}
#contCity .sideNav .sideTitle a {
    color: #ec5803;
}
#contCity .sideNav .sideTitle a:hover {
    color: #fff;
}
#contCity .cate .cateLabel a:link, #contCity .cate .cateLabel a:visited {
    color: #333;
}
#contCity .cate .cateLabel a:hover {
    color: #fff;
}
#contCity .main {
    position: absolute;
    top: 0;
    left: 120px;
    width: 535px;
}
#contCity .cityList ul {
    margin-left: -20px;
}
#contCity .cityList li {
    width: 252px;
    margin-left: 20px;
    text-align: left;
    overflow: hidden;
    zoom: 1;
}
#contCity .cityList li .pic {
    float: left;
    margin-right: 10px;
}
#contCity .cityList li .info {
    display: inline-block;
    width: 168px;
    color: #666;
}
#contCity .cityList li .info .title a span {
    background-color: #ff8263;
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    line-height: 17px;
    padding: 0 3px;
    border-radius: 3px;
    margin-bottom: 3px;
}
