body {
    height: 2000px;
}
#div1 {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #f00;
    right: 0;
}
#line {
    width: 1px;
    height: 300px;
    position: absolute;
    left: 300px;
    top: 0px;
    background: #00f;
}
#txt1 {
    position: absolute;
    top: 200px;
}
