#div1 {
    width: 100px;
    height: 100px;
    background: #f00;
    /*position: relative;*/
}

#div2 {
    width: 100px;
    height: 100px;
    background: #ff0;
    position: absolute;
    left: 100px;
    top: 100px;
}
